@media (max-width: 965px) {
  .header {
   &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 35px 0;
   }
   &__logo {
      display: block;
      width: 226px;
      height: 24px;
   }
   &__menu {
      &_link {
      font-size: 16px;
      line-height: 19px;
      color: #4E5983;
      text-decoration: none;
      margin-right: 48px;
			&:last-child{
				margin-right: 0;
			}
			&:hover {
				color: #562EC2;
			}
		}
   }
}
.mainscreen {
	padding: 113px 0 ;
	background: #562EC2;
	background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
	/* box-shadow: 0px 22px 44px #a07efe; */
	
	&__wrap {
		flex-basis: 38%;
	}
   &__title {
		max-width: 837px;
		font-weight: bold;
		font-size: 60px;
		line-height: 67px;
		text-align: center;
		color: #FFFFFF;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 19px;
		line-height: 23px;
		color: #FFFFFF;
		text-align: center;
		margin-bottom: 54px;
	}
	&__currency{
		display: flex;
		position: relative;
		z-index: 99;
		justify-content: space-between;
		align-items: center;
		
		width: 80%;
    margin: 0 auto;
		background: rgba(255, 255, 255,0.8);
		border: 4px solid #F7F8FD;
		border-radius: 26px;
		padding: 100px 85px;
		
		&_title {
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			color: #4E5983;
			margin-right: 15px;
		}
		&_subtitle {
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #4E5983;
		}
		&_descr {
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #4E5983;
			opacity: 0.5;
			margin-bottom: 17px;
		}
		&_give {
			display: flex;
			align-items: center;
			margin-bottom: 34px;
		}
		&_count {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&_money {
			display: flex;
			align-items: center;
		}
		&_arrow {
			display: inline-block;
			margin-top: 85px;
		}
		&_icon {
			display: inline-block;
			margin-right: 15px;
		}
		&_choice {
			background-color: transparent;
			border: none;
			outline: none;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #4E5983;
		}
		&_sum {
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.015em;
		color: #094067;
		}
	}
}
}